
<a home-link ng-click="menuarrow = !menuarrow" ng-init="menuarrow = true">
  <ng-hamburger-helper arrow-when="menuarrow"></ng-hamburger-helper>
</a>
<div class="container layout-title">{{'DAY_DETAIL' | translate}}</div>
<div class="page-content">
  <div class="container">
    <div layout-fill md-swipe-left="locateTo('#/day/{{next | date:'yyyy-MM-dd'}}')" md-swipe-right="locateTo('#/day/{{previous | date:'yyyy-MM-dd'}}')">
        <md-toolbar>
          <div class='md-toolbar-tools' layout='row'>
            <md-button class='md-icon-button' href="#/day/{{previous | date:'yyyy-MM-dd'}}" aria-label='Previous month'>
              <md-tooltip ng-if='::tooltips()'>Previous month</md-tooltip>&laquo;
            </md-button>
            <div flex></div>
            <h2 class='calendar-md-title'>
              <span>{{date | date:'d':timezone}}. {{ date | date:'MMMM':timezone | translate}} {{ date | date:'yyyy':timezone }}</span>
            </h2>
            <div flex></div>
            <md-button class='md-icon-button' href="#/day/{{next | date:'yyyy-MM-dd'}}" aria-label='Next month'>
              <md-tooltip ng-if='::tooltips()'>Next month</md-tooltip>&raquo;
            </md-button>
          </div>
        </md-toolbar>
      <div class="dayinfo">
          <div layout="row" layout-align="space-between center">
              <div class="md-title">{{'DAY_RATING' | translate}}</div>
              <star-rating rating="{{ratingValue}}"></star-rating>
          </div>
          <div ng-if="$dayEvents.length > 0">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">{{'DAY_EVENTS' | translate}}:</md-subheader>
            <md-list>
              <md-list-item ng-repeat="$event in $dayEvents" ng-click="goToPerson(person.name, $event)">
                <p>{{$event}}</p>
                <md-icon md-svg-src="img/close-circle.svg" ng-click="deletePersonForm(key)" class="md-secondary md-hue-3" aria-label="{{'DELETE_EVENT' | translate}}"></md-icon>
              </md-list-item>
            </md-list>
          </div>
      </div>
        <md-card ng-repeat="$rating in hours track by $index">
          <md-card-content>
            <div layout="row" layout-align="space-between center">
              <div class="md-title"><strong>{{($index>9)? '' : '0'}}{{$index}}:00</strong></div>
              <star-rating rating="{{$rating}}"></star-rating>
              <div><md-button class="md-fab md-mini" aria-label="add" ng-click="addEvent($index)">+</md-button></div>
            </div>
            <div ng-if="$hourEvents[$index].length > 0">
              <md-divider ></md-divider>
              <md-list>
              <md-list-item ng-repeat="$event in $hourEvents[$index]" ng-click="goToPerson(person.name, $event)">
                <p>{{$event}}</p>
                <md-icon md-svg-src="img/close-circle.svg" ng-click="deletePersonForm(key)" class="md-secondary md-hue-3" aria-label="{{'DELETE_EVENT' | translate}}"></md-icon>
              </md-list-item>
              </md-list>
            </div>
          </md-card-content>
        </md-card>
    </div>

    <div>
      <md-select ng-model="selectedActivity" ng-change="activitySelect(selectedActivity)" aria-label="{{'DAY_GENERALY' | translate}}">
        <md-option value="any">{{'ANY_ACTIVITY' | translate}}</md-option>
        <md-optgroup label="{{currentGroup | translate}}" ng-repeat="currentGroup in groupList">
          <md-option ng-value="activity" ng-repeat="activity in activities | filter: {group: currentGroup}">{{activity.name | translate}}</md-option>
        </md-optgroup>
      </md-select>
    </div>

    <md-input-container>
      <md-select id="personMenu" multiple aria-label="{{'DAY_GENERALY' | translate}}" ng-model="selectedPerson" ng-change="personSelect(selectedPerson)" placeholder="{{'DAY_GENERALY' | translate}}">
                                    <md-option ng-value="key" ng-repeat="(key, person) in personlist">{{person.name}}</md-option>
                                    <md-option value="add">{{'ADD_PERSON' | translate}}</md-option>
                              </md-select>
    </md-input-container>
  </div>
</div>

