<a home-link ng-click="menuarrow = !menuarrow" ng-init="menuarrow = true">
      <ng-hamburger-helper arrow-when="menuarrow"></ng-hamburger-helper>
</a>
<div class="container layout-title">MY PERSON LIST</div>

<div class="page-content">
	<div class="container">
		<md-list>
			<md-list-item aria-label="{{person.name}}" class="personlist" ng-repeat="(key, person) in personlist">
				<md-checkbox ng-model="person.selected" ng-change="selectPerson(key)" aria-label="{{person.name}}"></md-checkbox>
				<p>
					<span class="person-name">{{person.name}}</span>
					{{person.date | date:'d'}}. {{person.date | date:'MMMM' | translate}} {{person.date | date:'yyyy'}}
				</p>

				<md-button class="md-icon-button" ng-click="editPersonForm(key)"><md-icon class="material-icons">mode_edit</md-icon></md-button>
				<md-button class="md-icon-button" ng-click="deletePersonForm(key)" ng-disabled="person.me"><md-icon class="material-icons">delete_forever</md-icon></md-button>

			</md-list-item>
		</md-list>

		<md-divider ></md-divider>
		<md-button class="md-fab md-fab-bottom-right" aria-label="{{'ADD_PERSON' | translate}}" ng-click="addPersonForm()">
			<md-icon md-svg-src="img/plus.svg"></md-icon>
		</md-button>
	</div>
</div>