		<div class="page-content">
			<div class="container">
				<div style="height: calc(100vh - 200px);">
                        <calendar-md id="calendar-demo"
                        flex layout layout-fill
                        calendar-direction="direction"
                        on-prev-month="prevMonth"
                        on-next-month="nextMonth"
                        on-day-click="dayClick"
                        title-format="'MMMM y'"
                        ng-model='selectedDate'
                        day-format="dayFormat"
                        day-label-format="'EEE'"
                        day-label-tooltip-format="'EEEE'"
                        day-tooltip-format="'fullDate'"
                        week-starts-on="weekStartsOn"
                        tooltips="false"
                        day-content="setDayContent"
                        disable-future-selection="disableFutureDates"></calendar-md>
				</div>

				<div>
					<md-select ng-model="selection" placeholder="{{'SELECT_ACTIVITY' | translate}}" ng-change="activitySelect(selection)">
						<md-optgroup label="{{currentGroup | translate}}" ng-repeat="currentGroup in groupList">
							<md-option ng-value="activity" ng-repeat="activity in activities | filter: {group: currentGroup}">{{activity.name | translate}}</md-option>
						</md-optgroup>
					</md-select>
				</div>

                        <div>
                              <md-select ng-model="selectedPerson" placeholder="{{'DAY_GENERALY' | translate}}" ng-change="personSelect(selectedPerson)">
                                    <md-option ng-value="key" ng-repeat="(key, person) in personlist">{{person.name}}</md-option>
                                    <md-option value="add">{{'ADD_PERSON' | translate}}</md-option>
                              </md-select>
                        </div>
            </div>
        </div>
