<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
		
	<form name="addUserForm">
		<div layout="row" layout="column">
			<md-input-container class="md-block" flex>
				<label>{{'NAME' | translate}}</label>
				<input ng-model="user.name">
			</md-input-container>
		</div>
		<div layout="row" layout="column">
			<div flex="20">
				<md-input-container class="md-block">
					<label>{{'DATE_DAY' | translate}}</label>
					<input ng-model="user.dateday" type="number">
				</md-input-container>
			</div>

			<div flex="50">
				<md-input-container class="md-block">
					<label>{{'DATE_MONTH' | translate}}</label>
					<md-select ng-model="user.datemonth">
						<md-option ng-repeat="(datenum, datemonth) in datemonths" value="{{datenum}}">{{datemonth | translate}}</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div flex="30">
				<md-input-container class="md-block">
					<label>{{'DATE_YEAR' | translate}}</label>
					<input ng-model="user.dateyear" type="number">
				</md-input-container>
			</div>
		</div>
		<md-button class="md-raised md-primary" ng-click="savePerson()">{{'SAVE' | translate}}</md-button>
	</form>

</md-bottom-sheet>